<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Analysis Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>

<body>
    <h1>Stock Market Analysis Tool</h1>

    <div class="input-container">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" id="symbol" placeholder="e.g. AAPL">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date">
        <button onclick="fetchStockData()">Get Data</button>
    </div>

    <!-- Backtesting Configuration Panel -->
    <div class="backtest-container">
        <h2>Backtesting Configuration</h2>
        <label for="strategy">Select Strategy:</label>
        <select id="strategy">
            <option value="goldenCross">Golden Cross</option>
            <!-- Other strategies can be added here -->
        </select>
        <div id="strategy-params">
            <!-- Parameters for the selected strategy will be displayed here -->
        </div>
        <label for="allocation">Trade Allocation (%):</label>
        <input type="number" id="allocation" min="1" max="100" value="100">
        <label for="stoploss">Stop Loss (%):</label>
        <input type="number" id="stoploss" min="0" value="10">
        <label for="takeprofit">Take Profit (%):</label>
        <input type="number" id="takeprofit" min="0" value="10">
        <button onclick="backTestStrategy()">Run Backtest</button>
    </div>

    <div id="loading">Fetching data...</div>
    <div id="error">An error occurred while fetching data.</div>
    <!-- Added Strategy Results Container -->
    <div id="strategyResults"></div>
    <div id="results"></div>
    <canvas id="stockChart"></canvas>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>







